:root {
  --main-grey: #c2cad2;
  --dark-grey: #5e5f62;
  --light-grey: #cdcdcd;
  --gold: #b7986f;
}

.account-header {
 margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  height: 6.5rem;
}

.company-name {
  color: var(--dark-grey);
  font-size: 1.5rem;
  margin-right: 2rem;
  margin-top: 2.4rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-top: 2.5rem;
}

.nav-links li a{
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: 600;
  font-size: 0.8rem;
  padding-right: 1.2rem;
}

.income-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon-container{
  width: 27px;
  height:26px;
  background-color: white;
    border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.search-icon {
  fill: #a4a4a4;
  box-sizing: border-box;
  width: 15px;
  height: 20px;
  font-stretch: 100%;
  margin-top: 2px;
}
.input {
  border-style: none;
  height: 24px;
  width: 10rem;
  margin: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
    padding-left: 5px;
}

.income-div form input::placeholder{
font-weight: 600;
font-size: .7rem;
color: lightgray;

}

.profile{
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 3.25rem;
}

h2{
  color: var(--light-grey);
  font-size: 1.25rem;
}

h3{
  font-weight: 600;
  color: var(--dark-grey);
  font-size: 1.1rem;
}

h4{
  text-transform: uppercase;
  color: var(--light-grey);
    font-size: 0.8rem;
}





.column-one{
  width: 19rem;
  padding-right:3rem;
}
.img-div{
  
}
.cat-image{
  width: 80%;
  border-radius: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.work-container span hr{
  width:72%;
  margin-top: -25px;
  color: var(--light-grey);
  border: 1px solid var(--light-grey);
}

.job-container{
  line-height: 0.3rem;
  padding-top: .4rem;
}

.job-container h4{
  width: 15rem;
  line-height: 1rem;
}

.skills {
  margin-bottom: 5.5rem;
}
.skills-title span hr{
  width:67%;
  margin-top: -25px;
   border: 1px solid var(--light-grey);
}

.skills-title{
  padding-top:.2rem;
  padding-bottom: .3rem;
}
.skills ul {
  text-align: left;
  padding: 0;
}
.skills ul li {
 list-style:none;
 line-height: .75rem;
}



.column-two{
  width: 20rem;
}

.profile-name-container{
  display: flex;
  height: 2rem;
}

.profile-name{
  margin: 0;
    color: var(--dark-grey);
    min-width:12rem;
    max-width: 16rem;
    font-size: 25px;
}
.location-container{
  display: flex;
  /* align-items:initial; */
}

.location-container svg{
  fill: var(--light-grey);
  height: 22px;
  margin-top: 4px;
}

.location {
  font-size: .75rem;
  text-transform:none;
  width: 5.5rem;
  margin-top: 12px;
}

.profile-description-container{
  display: flex;
  align-items: center;
  line-height: 0;
}
.profile-description-container h4{
  font-size: 0.75rem;
  text-transform: none;
  padding-left: 1rem;
}
.profile-description-container h3{
  color: var(--gold);
  margin: 0;
}

.bio-container{
  padding-top: .75rem;
  padding-bottom: 2rem;
}

.bio-description{
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark-grey);
  font-size: .85rem;
  margin-left: 5px;
}
.about-header{
  display: flex;
  justify-content: space-between;
}
.about{
  display: flex;
  align-items: center;
  fill: var(--dark-grey);
}
.about svg{
  height: 18px;
  width: 18px;
  padding-bottom: 2px;
  padding-right: 3px;
}
.edit svg{
  fill: var(--light-grey);
  height: 19px;
  width: 19px;
   padding-bottom: 4px;
}

.edit{
  display: flex;
  align-items:center;
}

.edit button{
  text-transform: uppercase;
  color: var(--light-grey);
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    border: none;
    background: none;
}

.about-line{
  margin-top: -17px;
}

.contact-container h4{
  padding-top: 1.5rem;
}
.contact-container span{
  color: var(--gold);
}

.submit-edit{
  text-transform: uppercase;
  color: var(--dark-grey);
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    background: none;
    margin-left: 9.7rem;
    margin-bottom: 5.5rem;
}


.salary-error{
    color: rgb(63, 63, 63);
}

.edit-input{
  max-width: 18.5rem;
  border: 1.5px solid var(--light-grey);
}
.city-input{
  max-width: 7rem;
  border: 1.5px solid var(--light-grey);
  margin-bottom: 5px;
}
.salary-input, .title-input{
   max-width: 9rem;
   border: 1px solid var(--light-grey);
   margin: 5px;
}
.salary-input::placeholder, .title-input::placeholder,.edit-input::placeholder,.city-input::placeholder{
color: rgb(178, 178, 178);
}

/* .salary-input input, .title-input input,.edit-input input,.city-input input{

margin-left: 5px;
} */

.profile input{
padding-left: 8px;
}
